Package: libattr
Version: 2.4.46-1
Depends: libc
Source: package/attr
SourceFile: attr-2.4.46.src.tar.gz
SourceURL: http://download.savannah.gnu.org/releases/attr/
Section: libs
Architecture: ar71xx
Installed-Size: 5802
Description:  Library for Manipulating Filesystem Extended Attributes
